# Rust
backend/**/target/


# Environment
.env
*.env.local
*.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
*.swo

target/
.task/
incoming/
library/
*.epub
*.md
*.pdf
*.mp4
*.avi
!README.md
